{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Strona Stajni XXXXX</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="{%static 'css/style.css'%}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#myPage">
                <img src="../static/galeria/logo3.png" alt="" width="30" height="30">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                    <li><a href="#myPage">HOME</a></li>
                    <li><a href="#onas">O NAS</a></li>
                    <li><a href="#pensjonat">PENSJONAT</a></li>
                    <li><a href="#galeria">GALERIA</a></li>
                    <li><a href="#kontakt">KONTAKT</a></li>
                    <li><a href="#zawody">ZAWODY JEŹDZIECKIE</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'calendar' %}" >KALENDARZ</a></li>
                    <li><a href="{% url 'logout' %}" class="glyphicon glyphicon-lock"></a></li>
                {% else %}
                    <li><a href="{% url 'login' %}" class="glyphicon glyphicon-lock">ZALOGUJ</a></li>
                    <li><a href="{% url 'register' %}" class="glyphicon glyphicon-lock">REJESTRACJA</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

{% block content %}

{% endblock content %}
<footer class="text-center">
    <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </a><br><br>
    <p>Stajnia XXXXXX </p>
</footer>
    </body>
</html>
<script>