{% extends 'base.html' %}

{% block content %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h5>Rejestracja</h5>
    </div>
</div>
<div class="text-center">
    <div class = "container">
        <form method="POST" action="" >
                    {% csrf_token %}
                    <h2 class="text-center">Zaloguj się na swoje konto</h2>
                    <div class="form-outline mb-4">
                        <input type="username" id="username" name="username" class="form-control" placeholder="Wpisz swój login"/>
                        <label class="col-form-label" for="username">Nazwa użytkownika</label>
                    </div>

                    <div class="form-outline mb-4">
                        <input type="password" id="password" name="password" class="form-control" placeholder="Wpisz swoje hasło"/>
                        <label class="col-form-label" for="password">Hasło</label>
                    </div>
                    {%  for message in messages %}
                        <p id="message">{{ message }}</p>
                    {% endfor %}
                    <div class="d-flex align-items-center justify-content-center pb-4">
                        <input class="btn btn-primary" type="submit" value="Zaloguj">
                    </div>

                </form>
</div>
</div>
{% endblock content%}